<h1>Edit Figure</h1>
<form method="post" action="/figures/<%= @figure.id %>">
<input id="hidden" type="hidden" name="_method" value="patch">

<p>Figure Name: <input type="text" name="figure[name]" value="<%= @figure.name %>" id="figure_name"></p>

<p> Choose an Existing Landmarks</p>
<%Landmark.all.each do |landmark|%>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>" <%='checked' if @figure.landmarks.include?(landmark) %>><%=landmark.name%></input>
<%end%>

<p>Landmark Name: <input type="text" name="landmark[name]" id="new_landmark"></p>


<p>Existing Titles</p>
<%Title.all.each do |title|%>
    <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>" <%='checked' if @figure.titles.include?(title) %>><%=title.name%></input>
<%end%>

<p>Title Name: <input type="text" name="title[name]" id="new_title"></p>


<input type="submit" value="Edit Figure" id="Edit Figure">

</form>